# Creating a data frame

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
student={'NAME':['ABHIMANYU RAVI CR','AJITH TA','AKSHAY A','ALEN TOM SHAJI','ANAND ANIL','ANSAL MT','ARUM KUMAR N','ASWIN CS','DHAVOOD NASSAR','HARIPRIYA KU','INDRAJITH KK','JISHNU VS','JISHNURAJ MP','JOPIKA','KEERTHI RAVI','KIRAN KS','LUBNA NIZAR','MANCY MAMACHAN','MERLIN PM','MOHAMMED SAFEER','MUHAMMED SIRAJ K','NANDAKRISHNAN N','NAJMI JAHANGIR','NIDA MUSTHAFA','RAHUL N','RAMSHAD TA','SANIKA SAJEEVAN','SANOY KM','SHAMMAS NM','SMIJITH CS','SNEHA SHAJI','SOORYA S NAIR','SWATHI AS','VIDHYA AG','VISHNU MUKUNDAN'],'GENDER':['M','M','M','M','M','M','M','M','M','F','M','M','M','F','F','M','F','F','F','M','M','M','F','F','M','M','F','M','M','M','F','F','F','F','M'],'PYTHON':[24,25,24,25,25,25,24,24,24,24,25,25,23,24,25,24,24,25,24,24,24,0,25,25,25,25,25,24,24,24,22,24,25,23,24],'STATS':[15,15,18,18,16,19,15,13,16,17,13,15,15,13,16,20,16,16,16,15,19,0,13,15,16,19,17,15,17,13,13,16,16,17,17],'TOTAL':[39,40,42,43,41,44,39,37,40,41,38,40,38,37,41,44,40,41,40,39,43,0,38,40,41,44,42,39,41,37,35,40,41,40,41],'PERCENTAGE':[86.67,88.89,93.33,95.56,91.11,97.78,86.67,82.22,88.89,91.11,84.44,88.89,84.44,82.22,91.11,97.78,88.89,91.11,88.89,86.67,95.66,0,84.44,88.89,91.11,97.78,93.33,86.67,91.11,82.22,77.78,88.89,91.11,88.89,91.11]}
df=pd.DataFrame(student)
df.head()

                NAME GENDER  PYTHON  STATS  TOTAL  PERCENTAGE
0  ABHIMANYU RAVI CR      M      24     15     39       86.67
1           AJITH TA      M      25     15     40       88.89
2           AKSHAY A      M      24     18     42       93.33
3     ALEN TOM SHAJI      M      25     18     43       95.56
4         ANAND ANIL      M      25     16     41       91.11

In [3]:
df.GENDER.value_counts()

M    22
F    13
Name: GENDER, dtype: int64

In [4]:
df.TOTAL.max()

44

In [5]:
df[df['TOTAL']==df['TOTAL'].max()]

          NAME GENDER  PYTHON  STATS  TOTAL  PERCENTAGE
5     ANSAL MT      M      25     19     44       97.78
15    KIRAN KS      M      24     20     44       97.78
25  RAMSHAD TA      M      25     19     44       97.78

In [6]:
df[df['TOTAL']==df['TOTAL'].min()]

               NAME GENDER  PYTHON  STATS  TOTAL  PERCENTAGE
21  NANDAKRISHNAN N      M       0      0      0         0.0

In [7]:
df['NAME'][df['PERCENTAGE']>90]

2             AKSHAY A
3       ALEN TOM SHAJI
4           ANAND ANIL
5             ANSAL MT
9         HARIPRIYA KU
14        KEERTHI RAVI
15            KIRAN KS
17      MANCY MAMACHAN
20    MUHAMMED SIRAJ K
24             RAHUL N
25          RAMSHAD TA
26     SANIKA SAJEEVAN
28          SHAMMAS NM
32           SWATHI AS
34     VISHNU MUKUNDAN
Name: NAME, dtype: object

In [8]:
df1=df.set_index('NAME')
df1

                  GENDER  PYTHON  STATS  TOTAL  PERCENTAGE
NAME
ABHIMANYU RAVI CR      M      24     15     39       86.67
AJITH TA               M      25     15     40       88.89
AKSHAY A               M      24     18     42       93.33
ALEN TOM SHAJI         M      25     18     43       95.56
ANAND ANIL             M      25     16     41       91.11
ANSAL MT               M      25     19     44       97.78
ARUM KUMAR N           M      24     15     39       86.67
ASWIN CS               M      24     13     37       82.22
DHAVOOD NASSAR         M      24     16     40       88.89
HARIPRIYA KU           F      24     17     41       91.11
INDRAJITH KK           M      25     13     38       84.44
JISHNU VS              M      25     15     40       88.89
JISHNURAJ MP           M      23     15     38       84.44
JOPIKA                 F      24     13     37       82.22
KEERTHI RAVI           F      25     16     41       91.11
KIRAN KS               M      24     20     44       97.78
LUBNA NIZAR            F      24     16     40       88.89
MANCY MAMACHAN         F      25     16     41       91.11
MERLIN PM              F      24     16     40       88.89
MOHAMMED SAFEER        M      24     15     39       86.67
MUHAMMED SIRAJ K       M      24     19     43       95.66
NANDAKRISHNAN N        M       0      0      0        0.00
NAJMI JAHANGIR         F      25     13     38       84.44
NIDA MUSTHAFA          F      25     15     40       88.89
RAHUL N                M      25     16     41       91.11
RAMSHAD TA             M      25     19     44       97.78
SANIKA SAJEEVAN        F      25     17     42       93.33
SANOY KM               M      24     15     39       86.67
SHAMMAS NM             M      24     17     41       91.11
SMIJITH CS             M      24     13     37       82.22
SNEHA SHAJI            F      22     13     35       77.78
SOORYA S NAIR          F      24     16     40       88.89
SWATHI AS              F      25     16     41       91.11
VIDHYA AG              F      23     17     40       88.89
VISHNU MUKUNDAN        M      24     17     41       91.11

In [9]:
df.loc[26]

NAME          SANIKA SAJEEVAN
GENDER                      F
PYTHON                     25
STATS                      17
TOTAL                      42
PERCENTAGE              93.33
Name: 26, dtype: object

In [10]:
df.iloc[29]

NAME          SMIJITH CS
GENDER                 M
PYTHON                24
STATS                 13
TOTAL                 37
PERCENTAGE         82.22
Name: 29, dtype: object

In [11]:
df1.loc["JOPIKA"]

GENDER            F
PYTHON           24
STATS            13
TOTAL            37
PERCENTAGE    82.22
Name: JOPIKA, dtype: object

In [12]:
df['NAME'][df['PYTHON']==df['PYTHON'].max()]

1            AJITH TA
3      ALEN TOM SHAJI
4          ANAND ANIL
5            ANSAL MT
10       INDRAJITH KK
11          JISHNU VS
14       KEERTHI RAVI
17     MANCY MAMACHAN
22     NAJMI JAHANGIR
23      NIDA MUSTHAFA
24            RAHUL N
25         RAMSHAD TA
26    SANIKA SAJEEVAN
32          SWATHI AS
Name: NAME, dtype: object

In [13]:
df['NAME'][df['STATS']==df['STATS'].max()]

15    KIRAN KS
Name: NAME, dtype: object

In [14]:
df['PERCENTAGE'].mean()

86.73314285714288

In [15]:
df['TOTAL'].mean()

39.02857142857143

In [16]:
df.to_csv('student_mark.csv')